<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
    <servlet-name>adduser</servlet-name>
    <servlet-class>notes.servlets.addUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginuser</servlet-name>
        <servlet-class>notes.servlets.loginUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginuser</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addnote</servlet-name>
        <servlet-class>notes.servlets.addNote</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addnote</servlet-name>
        <url-pattern>/addnote</url-pattern>
    </servlet-mapping>

</web-app>